#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
# Don't build dbgsym packages
export DEB_BUILD_OPTIONS = noddebs

PKG = github.com/yannh/kubeconform
export DH_GOLANG_EXCLUDES := ${PKG}/examples
BUILDFLAGS := -ldflags "-X main.version=v$(DEB_VERSION_UPSTREAM)"

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_configure:
	dh_auto_configure -- $(BUILDFLAGS)

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

# Don't include go-source in the package
override_dh_auto_install:
	dh_auto_install -- --no-source

# No dwz symbols in go, disable
override_dh_dwz:

